.btn{
    width: 100px;
    height: 100px;
}

.btn:hover {
    background-color: rgb(175, 171, 171) !important;
    color: black !important;
}

.btn:active {
    background-color: rgb(136, 134, 134) !important;
    color: white !important;
}